body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  color: purple;
}

.nav {	
  display: flex;
  justify-content: space-between;
}

.nav-item{
  list-style: none;
  background-color: black;
  padding: 10px 20px;
  border-radius: 5px;
}


.btn{
  color: white;
  text-decoration: none;
}

.form__add_process{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align: align-items;

}